{#
/**
 * Available variables
 * - elements: array of element contains social media link.
 *
 */
#}

{{ attach_library('core/drupal.dialog.ajax') }}
<div class="social-media-sharing">
  <ul>
    <li><i class="material-icons">share</i></li>
    {% set classes = [
    'share'
    ]
    %}
    {% for element in elements %}
      <li>
        <a {{ element.attr.target }} {{ element.attr.class.addClass(classes) }}  {{ element.api }}
          title="{{ element.text|striptags }}">
          {% if element.img %}
            <img alt="{{ element.text }}" src="{{ element.img }}">
          {% else %}
            {{ element.text }}
          {% endif %}
        </a>

      </li>
    {% endfor %}
  </ul>
</div>

